
/*main site styles==================*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	color: #959595;
	font-family: 'Gentium Book Basic', serif;
}

h1, h2, h3, h4, h5 {
	color: #959595;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

ul {
	list-style: none;

}

a {
	text-decoration: none;
	color: #959595;
}

a:hover {
	color:#35393c;
}

 .active a {
	color: #35393c;
	font-style: bold;
}

.grid.grid-pad {
    
    margin: 0 auto;
    width: 1000px;
    height: auto;
}  

/*grid styling====================*/

[class*='col-'] {
  float: left;
}

.col-1-3 {
  width: 33.33%;
  /*background-color: yellow;*/
}

.col-2-3 {
  width: 66.66%;
}

.col-3-3 {
	width: 100%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.grid-pad {
  padding: 20px 0 20px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

/*.grid-pad:first-of-type {
  padding: 20px 0 0 20px;
}*/

/* styling for header and top nav===============*/

.main-nav-menu-list li{
	display: inline-block;
	margin: 0 auto;
}
.main-nav-menu-list li:nth-child(n+2):before {
	content:"| ";
	font-size: 1em;
}
.main-nav-menu {
	text-align: center;

}
.main-nav.logo {
   
    margin: 0 auto;
    width: 29%;
}
.main-nav-menu h3 {
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
}

.main-nav.logo img {
    margin: 0 auto;
    padding: 0;
}
ul.main-nav-menu-list {
   	padding-right: 20px;
    padding-left: 0;
    margin:  0;
}
/*.col-3-3 {
    padading: 0;
    margin: 0;

/* styling for portfolio boxes===============*/

.box {
background-color: light-grey;
height: 300px;
width: 300px;
position: relative;

}

.box.box-one {
	background-color: #d94251;
	background-size:  cover;
}

.box.box-two {
	background-color: #9eb2b1;
}

.box.box-three {
	background-color: #fed363;
}

.box.box-four {
	background-color: #cbe86b;
}

.box.box-five {
	background-color: #b2d0ce;
}

.box.box-six {
	background-color: #ff797c;
}

.box.box-seven{
	background-color: #3e4551;
}

.box.box-eight {
	background-color: #c7d8ac;
}

.box.box-nine {
	background-color: #c89d85;
}

.box-icon {
	color: #fff;
	width: 200px;
 	height: 100px;
	margin: -50px 0 0 -65px;
 	position: absolute;
  	top: 50%;
  	left: 50%;
  	padding: 20px;
}

/*make image show up on hover==========*/

.box.box-one:hover {
    background-color:  transparent; 
    background-image: url("../img/cat-one.jpg");
    background-size: cover;
}

.box.box-two:hover {
    background-color:  transparent; 
    background-image: url("../img/cat-two.jpg");
    background-size: cover;
}

.box.box-three:hover {
    background-color:  transparent; 
    background-image: url("../img/cat-three.jpg");
    background-size: cover;
}

.box.box-four:hover {
    background-color:  transparent; 
    background-image: url("../img/cat-four.jpg");
    background-size: cover;
}

.box.box-five:hover {
    background-color:  transparent; 
    background-image: url("../img/cat-five.jpg");
    background-size: cover;
}

.box.box-six:hover {
    background-color:  transparent; 
    background-image: url("../img/cat-six.jpg");
    background-size: cover;
}

.box.box-seven:hover {
    background-color:  transparent; 
    background-image: url("../img/rhino-seven.jpg");
    background-size: cover;
}

.box.box-eight:hover {
    background-color:  transparent; 
    background-image: url("../img/deer-eight.jpg");
    background-size: cover;
}

.box.box-nine:hover {
    background-color:  transparent; 
    background-image: url("../img/dog-nine.jpg");
    background-size: cover;

}
 


i.fa.fa-binoculars.fa-4x.fa-fw:hover {
    color:  rgba(255, 255, 255, 0.5);
}


/* styling for footer===============*/

.footer-social-icons {
	text-align: center;
	width: 100%;
	height: 70px;

}

.footer-menu li {
	display: inline-block;
}

ul.footer-menu {
	margin: 0 auto;
	padding: 0;
}




