
/*main site styles==================*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	color: #959595;
	font-family: 'Gentium Book Basic', serif;
}

h1, h2, h3, h4, h5 {
	color: #959595;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

ul {
	list-style: none;

}

a {
	text-decoration: none;
	color: #959595;
}

a:hover {
	color:#35393c;
}

 .active a {
	color: #35393c;
	
}

.grid.grid-pad {
    
    margin: 0 auto;
    width: 1000px;
    height: auto;
}  

/*grid styling====================*/

[class*='col-'] {
  float: left;
}

.col-1-3 {
  width: 33.33%;
  /*background-color: yellow;*/
}

.col-2-3 {
  width: 66.66%;
}

.col-3-3 {
	width: 100%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.grid-pad {
  padding: 20px 0 20px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

/*.grid-pad:first-of-type {
  padding: 20px 0 0 20px;
}*/

/* styling for header and top nav===============*/

.main-nav-menu-list li{
	display: inline-block;
	margin: 0 auto;
}
.main-nav-menu-list li:nth-child(n+2):before {
	content:"| ";
	font-size: 1em;
}
.main-nav-menu {
	text-align: center;

}
.main-nav.logo {
   
    margin: 0 auto;
    width: 29%;
}
.main-nav-menu h3 {
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
}

.main-nav.logo img {
    margin: 0 auto;
    padding: 0;
}
ul.main-nav-menu-list {
   	padding-right: 20px;
    padding-left: 0;
    margin:  0;
}

/* styling for portfolio boxes===============*/

.box {
background-color: light-grey;
height: 300px;
width: 300px;
position: relative;

}

.box.box-one {
	background-color: #d94251;
	background-size:  cover;
}

.box.box-two {
	background-color: #9eb2b1;
}

.box.box-three {
	background-color: #fed363;
}

.box.box-four {
	background-color: #cbe86b;
}

.box.box-five {
	background-color: #b2d0ce;
}

.box.box-six {
	background-color: #ff797c;
}

.box.box-seven{
	background-color: #3e4551;
}

.box.box-eight {
	background-color: #c7d8ac;
}

.box.box-nine {
	background-color: #c89d85;
}

.box-icon {
	color: #fff;
	width: 200px;
 	height: 100px;
	margin: -50px 0 0 -65px;
 	position: absolute;
  	top: 50%;
  	left: 50%;
  	padding: 20px;
}

/*make image show up on hover==========*/

.box.box-one:hover {
    background-color:  transparent; 
    background-image: url("../img/haroldapi.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.box.box-two:hover {
    background-color:  transparent; 
    background-image: url("../img/vox.png");
    background-size: cover;
    background-repeat: no-repeat;


}

.box.box-three:hover {
    background-color:  transparent; 
    background-image: url("../img/fizzbuzz.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.box.box-four:hover {
    background-color:  transparent; 
    background-image: url("../img/toob.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.box.box-five:hover {
    background-color:  transparent; 
    background-image: url("../img/candy.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.box.box-six:hover {
    background-color:  transparent; 
    background-image: url("../img/shopping.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.box.box-seven:hover {
    background-color:  transparent; 
    background-image: url("../img/karma.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.box.box-eight:hover {
    background-color:  transparent; 
    background-image: url("../img/hotcold.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.box.box-nine:hover {
    background-color:  transparent; 
    background-image: url("../img/streetfighter.png");
    background-size: cover;
    background-repeat: no-repeat;

}
 


i.fa.fa-binoculars.fa-4x.fa-fw:hover {
    color:  rgba(255, 255, 255, 0.5);
}


/* styling for footer===============*/

.footer-social-icons {
	text-align: center;
	width: 100%;
	height: 70px;

}

.footer-menu li {
	display: inline-block;
}

ul.footer-menu {
	margin: 0 auto;
	padding: 0;
}

/*contact page form styling=====*/

#contact-form-wrap {
	width: 600px;
	margin: 0 auto;
	background-color: rgba(149, 149, 149, 0.4);
	min-height: 300px;
	overflow: hidden;
	border: none;
	color:  #35393c;
	font-family: 'Gentium Book Basic', serif;
}

h1 {
	text-align: center;
	padding-top: 200px;
}
#form-top {
	width: 320px;
	margin: 0 auto;
	}
	#form-top input {
		width: 320px;
		margin: 0 0 20px 0;
		border: 1px solid #959595;
		height: 45px;
		text-align: left;
		background: none;
		
		font-size: 1em;
	}
	#form-top .input-bg {
		background-color: #fff;
		height: 45px;
		margin-bottom: 10px;
		position: relative;
		border: 1px solid #959595;
	}
	
#form-bottom {
	width: 320px;
	margin: 0 auto;
	
	}
	#form-bottom textarea {
		width: 320px;
		height: 238px;
		display: block;
		border: 1px solid #959595;
		background: none;
		padding: 13px 0 13px 0;
		font-family: 'Gentium Book Basic', serif;
		font-size: 1em;
	}
	#form-bottom .message-bg {
		background-color: #fff;
		height: 238px;
		border: 1px solid #959595;
	}
	
label {
	display: block;
	font-size: 1em;
	text-indent: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}


input.submit-button {
	float: right;
	padding-right: 70px;
}

/*contact page text=================*/

.contact-blurb {
	margin: 0 auto;
	width: 300px;
}

.contact-text {
	text-align: left;
	margin-bottom: 0;
}

.empty {
	width: 33%;
	min-height: 200px;
}

.fa.fa-arrow-circle-down {
	color: #d94251;
		}

.contact-icon {
	text-align: center;
	margin-top: 0;
}

/* single portfolio item page styling=======*/

.single-portfolio-text {
	background-color: #fff;
	width: 100%;
	max-height: 300px;
}

.single-portfolio-text >h2, h3 {
	margin: 0;
	padding-top: 8px;
}
.single-portfolio-text > p {
	padding: 0 6px 4px 8px;
	margin-bottom: 2px;
	
}

.single-portfolio-text > ul {
padding-left: 20px;
list-style: square;
margin-top: 0;

}

.single-portfolio-image-box{
	background-image: url("../img/haroldapi.png");
	background-repeat: no-repeat;
	background-position: contain;
	width: 600px;
	height: 300px;
	border: 3px solid #959595;
	background-size: 100%;
	
}

.single-portfolio-image-box-one{
	background-image: url("../img/haroldapi.png");
	background-repeat: no-repeat;
	background-position: contain;
	width: 600px;
	height: 300px;
	border: 3px solid #959595;
	background-size: 100%;
	
}
.single-portfolio-image-box-two{
	background-image: url("../img/vox.png");
	background-repeat: no-repeat;
	background-position: contain;
	width: 600px;
	height: 300px;
	border: 3px solid #959595;
	background-size: 100%;
	
}

.single-portfolio-image-box-three { 
	background-image: url("../img/fizzbuzz.png");
	background-repeat: no-repeat;
	background-position: contain;
	width: 600px;
	height: 300px;
	border: 3px solid #959595;
	background-size: 100%;
	
}

.single-portfolio-image-box-four{
	background-image: url("../img/toob.png");
	background-repeat: no-repeat;
	background-position: contain;
	width: 600px;
	height: 300px;
	border: 3px solid #959595;
	background-size: 100%;
	
}

.single-portfolio-image-box-five{
	background-image: url("../img/candy.png");
	background-repeat: no-repeat;
	background-position: contain;
	width: 600px;
	height: 300px;
	border: 3px solid #959595;
	background-size: 100%;
	
}
.single-portfolio-image-box-six{
	background-image: url("../img/shopping.png");
	background-repeat: no-repeat;
	background-position: contain;
	width: 600px;
	height: 300px;
	border: 3px solid #959595;
	background-size: 100%;
	
}
.single-portfolio-image-box-seven{
	background-image: url("../img/karma.png");
	background-repeat: no-repeat;
	background-position: contain;
	width: 600px;
	height: 300px;
	border: 3px solid #959595;
	background-size: 100%;
	
}
.single-portfolio-image-box-eight{
	background-image: url("../img/hotcold.png");
	background-repeat: no-repeat;
	background-position: contain;
	width: 600px;
	height: 300px;
	border: 3px solid #959595;
	background-size: 100%;
	
}

.single-portfolio-image-box-nine {
	background-image: url("../img/streetfighter.png");
	background-repeat: no-repeat;
	background-position: contain;
	width: 600px;
	height: 300px;
	border: 3px solid #959595;
	background-size: 100%;
	
}


.single-large-img {
	height: 300px;
	width: 600px;
	position: relative;
	clear: both;
	padding: 2px;
}

/*media queries=============================*/



/*mobile=====================================*/
@media (max-width: 440px) { 
 
html { 
  	background: none; 
  }

[class*='col-'] {
  float: none;
  margin:0;
  padding:0;
  position: relative;
  width: 100%;
}

.col-3-3 {
	padding-right: 0;
}

.box {
	margin-top: 10px; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.grid.grid-pad {
	width:100%;
	height: auto;
	margin:0;
	padding: 0;
}
.grid-pad > [class*='col-']:last-of-type {
	padding-right: 0;
}

.main-nav.logo {
	width: 100%;
	margin: 0 auto;
	padding: 0 0 0 5%;
}

.main-nav.logo img {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.main-nav-menu > h3 {
	font-size: 0.9em;
	padding-bottom: 2%;
}

img {
	max-width: 100%;
}
.empty {
	display: none;
}

fieldset {
	width: 100%;
}
.form-top-input {
	text-align: center;
}
#contact-form-wrap {
	width: 100%;
	margin: 0 auto;
	padding-left:4%;
	background-color: #fff;
}
fieldset {
	width: 100%;
	border: none;
	margin: 0 auto;
}
input.submit-button {
	padding:0;
}
#commentForm {
	width: 100%;
	margin: 0 auto;
}
}
 



/* tablet ====================================*/
@media (min-width: 401px) and (max-width: 800px) {
  
  } 
}

